<header class="border-b md:flex md:items-center md:flex-start p-4 pb-0 shadow-lg md:pb-4">


  <div class="flex items-center justify-between mb-4 md:mb-0">
    <h1 class="leading-none text-2xl text-grey-darkest">
      <a class="no-underline text-grey-darkest hover:text-black" href="#" [routerLink]="['/']">
        NGRX
      </a>
    </h1>

    <a class="text-black hover:text-orange md:hidden" href="#">
      <i class="fa fa-2x fa-bars"></i>
    </a>
  </div>



  <nav>
    <ul class="list-reset md:flex md:items-center">
      <li class="md:ml-4">
        <a class="block no-underline hover:underline py-2 text-grey-darkest hover:text-black md:border-none md:p-0" href="#" [routerLink]="['/']">
          Home
        </a>
      </li>
      <li class="md:ml-4">
        <a class="border-t block no-underline hover:underline py-2 text-grey-darkest hover:text-black md:border-none md:p-0" href="#" [routerLink]="['/counters']">
          Counters
        </a>
      </li>
      <li class="md:ml-4"  *ngIf="(isAuthenticated$| async)">
        <a class="border-t block no-underline hover:underline py-2 text-grey-darkest hover:text-black md:border-none md:p-0" href="#" [routerLink]="['/posts']">
          Posts
        </a>
      </li>
      <li class="md:ml-4" *ngIf="!(isAuthenticated$| async)">
        <a class="border-t block no-underline hover:underline py-2 text-grey-darkest hover:text-black md:border-none md:p-0" href="#" [routerLink]="['/auth']">
          Login
        </a>
      </li>
      <li class="md:ml-4"  *ngIf="!(isAuthenticated$| async)">
        <a class="border-t block no-underline hover:underline py-2 text-grey-darkest hover:text-black md:border-none md:p-0" href="#" [routerLink]="['/auth/signup']">
          Signup
        </a>
      </li>
      <li class="md:ml-4"  *ngIf="(isAuthenticated$| async)">
        <a class="border-t block no-underline hover:underline py-2 text-grey-darkest hover:text-black md:border-none md:p-0" href="#" (click)="onLogout($event)">
          Logout
        </a>
      </li>
    </ul>
  </nav>


</header>
